body{
    font-family:Arial;
    background-color:skyblue;
    overscroll-behavior:none;
 }
 #content{
    position:absolute;
    top:50%;
    left:50%;
    /*
     the above top and left styles move the top left corner of the canvas in the center of the page
     but we want the center of canvas in the center of page so lets offset by half
    */
    transform:translate(-50%,-50%);
    /* for the heading */
    text-align:center; 
 }
 button{
    cursor:pointer;
    border:none;
    padding:2px 10px 2px 10px;
    height:22px;
    border-radius:5px;
    background-color:navy;
    color:white;
 }
 button:hover{
    background-color:mediumblue;
 }
 button:disabled,
 button:disabled:hover{
    background-color:gray;
    cursor:default;
 }